.vertical-menu {
  left: 0px;
  width: 250px;
  background-color: rgb(56, 65, 78);
  display: none;
}
.vertical-menu ul li {
  list-style: none;
}
.vertical-menu ul li a {
  text-decoration: none;
  color: white;
}
